[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gero/Desktop/windows11-list-dark.rasi]
row=1
col=1

[/home/gero/Desktop/ocean.jpg]
row=7
col=0

[/home/gero/Desktop/Documents.bmp]
row=8
col=0

[/home/gero/Desktop/kitty.conf]
row=3
col=1

[/home/gero/Desktop/Home.desktop]
row=4
col=0

[/home/gero/Desktop/space.jpg]
row=6
col=0

[/home/gero/Desktop/CascadiaCode]
row=2
col=1

[/home/gero/Desktop/book.png]
row=0
col=1

[/home/gero/Desktop/102689-slackboot_neon.tar.bz2]
row=5
col=0

[2022-02-03-19-48-25-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/gero]
row=3
col=0

