[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gero/Desktop/Home.desktop]
row=4
col=0

[2022-02-03-19-48-25-00]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/gero]
row=3
col=0

