[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gero/Desktop/rain-retro-modern-1.0.tar.xz]
row=1
col=1

[/home/gero/Desktop/BeOS.7z]
row=3
col=1

[/home/gero/Desktop/geroware.bmp]
row=3
col=2

[/home/gero/Desktop/chrome-nlalbmkafgmoifbeooblidblkmlhhpnc-Profile_3.desktop]
row=5
col=0

[/home/gero/Desktop/gerowar3.bmp]
row=2
col=2

[/home/gero/Desktop/google-chrome-stable_current_amd64.txz]
row=6
col=0

[/home/gero/Desktop/usr]
row=7
col=0

[/home/gero/Desktop/liloconv.sh]
row=0
col=2

[/home/gero/Desktop/gerowar3_rev2.jpg]
row=1
col=2

[/home/gero/Desktop/magick]
row=4
col=1

[/home/gero/Desktop/IndigoMagic.tar]
row=2
col=1

[/home/gero/Desktop/geroware.xbm]
row=8
col=1

[/home/gero/Desktop/gerowar3.jpg]
row=9
col=1

[/home/gero/Desktop/google-chrome-stable_current_amd64.deb]
row=4
col=0

[/home/gero/Desktop/geroware.png]
row=6
col=1

[/home/gero/Desktop/gerowar3_rev1.jpg]
row=7
col=1

[/home/gero/Desktop/Nate_Olson_Resume.pdf]
row=5
col=1

[/home/gero/Desktop/SCADALinkChange.pdf]
row=3
col=0

[/home/gero/Desktop/config]
row=1
col=0

[/home/gero/Desktop/Great-IMD-evo-smooth_v1.2.6.zip]
row=9
col=0

[/home/gero/Desktop/TxT - Driver license and ID services.pdf]
row=8
col=0

[/home/gero/Desktop/windowshandsdinosaur.zip]
row=0
col=1

[/home/gero/Desktop/irixium.tar.gz]
row=0
col=0

[/home/gero/Desktop/picom.conf]
row=2
col=0

